@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <img src="~/collegeimage.jpg" />
       
        <h1 class="display-4">Welcome</h1>
        <p>Georgian College <a href="https://www.georgiancollege.ca/">is a College of Applied Arts and Technology in Ontario, Canada.</a>.</p>
    </div>
